body {
  font-family: Arial, sans-serif;
  background-image: url("colorful\ clouds.jpg"); /* Background image */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #ff6600,
    #ffcc00,
    #33cc33,
    #0066ff,
    #9900cc
  ); /* Gradient colors *//* Apply gradient as text color */
  -webkit-text-fill-color: transparent; /* Make original text color transparent */
}

input[type="text"] {
  width: 80%;
  padding: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 24px;
  outline: none; /* Remove input outline */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent white background */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #ff6600,
    #ffcc00,
    #33cc33,
    #0066ff,
    #9900cc
  ); /* Gradient colors */
  -webkit-text-fill-color: transparent; /* Make original text color transparent */
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease; /* Smooth transformation */
}

li:hover {
  transform: scale(1.1); /* Scale up on hover */
}

input[type="text"],
li {
  font-weight: bold; /* Make the search input text and suggestion words bold */
}

/* Base styles remain the same */

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .container {
    padding: 30px; /* Reduce padding */
    border-radius: 10px; /* Reduce border radius */
  }

  h2 {
    font-size: 36px; /* Decrease font size */
    margin-bottom: 20px; /* Adjust margin */
  }

  input[type="text"] {
    width: 100%; /* Full width on smaller screens */
    font-size: 18px; /* Decrease font size */
    padding: 15px; /* Adjust padding */
    margin-bottom: 20px; /* Adjust margin */
  }

  ul {
    margin-bottom: 30px; /* Adjust margin */
  }

  li {
    padding: 10px; /* Decrease padding */
    font-size: 16px; /* Decrease font size */
    margin: 5px; /* Adjust margin */
  }
}
